* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: simpsons;
  src: url(../Simpson/Simpsonfont.ttf) format("truetype");
}
/* html {
  min-width: 1500px;
} */
body {
  background-image: url("pictures/dajswallpaper.jpg");
  background-size: cover;
  min-width: 800px;
  height: 100vh;
  margin: 0 auto;
  font-family: "simpsons";
}
#mainContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-height: 80%;
}
#name,
#category {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
}
#category {
  margin: 0 auto;
}
#pricePerKgParagraph {
  font-size: 18px;
  width: 25%;
}
#pricesContainer {
  display: flex;
  width: 600px;
  justify-content: space-between;
  font-size: 16px;
  /* margin: 0 auto; */
}
.shopContainer {
  display: flex;
  flex-direction: column;
  width: 30%;
}

input,
select {
  width: 100%;
  margin: 30px auto;
  /* padding: 5px 5px 5px 5px; */
  font-family: arial;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
}
select {
  border: 1.5px solid black;
}
#prodName {
  border: solid 1.5px black;
  margin: 30px 0;
}
#categorySelector {
  width: 100%;
  margin: 30px 0;
}
.shopContainer input {
  width: 100px;
}
#shop1,
#shop2,
#shop3,
#shop4,
#shop5,
#shop6 {
  width: 90%;
  border: solid black 1.5px;
}
#buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
  /* height: 200px; */
  width: 600px;
  /* margin: 0 auto 100px auto; */
  justify-content: space-between;
}
button {
  background-color: transparent;
  height: 45px;
  width: 47%;
  min-width: 150px;
  background-color: #f8d62d;
  color: black;
  font-family: "simpsons";
  font-size: 120%;
  border: solid black 1.5px;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
  margin: 10px 0 10px 0;
  transition: all 0.1s ease-in-out;
}
button:hover {
  transform: scale(1.05);
}
@media (max-width: 415px) {
  body {
    background-image: none;
    background-color: #fad103;
    min-width: 100vw;
    margin: 0;
  }
  #mainContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
  }
  #name,
  #category,
  #buttons {
    width: 90%;
    height: auto;
    margin: 10px auto;
  }
  #pricesContainer {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    font-size: 12px;
  }
  button {
    min-width: 130px;
    font-size: 80%;
  }
  label {
    margin: 0 auto;
    font-size: 14px;
  }
  input {
    margin: 10px 0 20px;
  }
  #categorySelector,
  #prodName {
    margin: 15px 0;
  }
  #category {
    height: 80px;
  }
  #pricesContainer {
    /* height: 0px; */
  }
}
