* {
  margin: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: simpsons;
  src: url(./Simpson/Simpsonfont.ttf) format("truetype");
}
body {
  background-image: url(Pictures/dajswallpaper.jpg);
  background-size: cover;
  display: flex;
  /* flex-wrap: wrap; */
  height: 100vh;
  max-width: 1300px;
  margin: auto;
}

#mainContainer {
  display: flex;
  /* width: 90%; */
  justify-content: space-between;
  /* width: 1400px; */
  height: 90vh;
  max-height: 800px;
  margin: auto;
}

.productsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.productButton {
  /* width: 70%; */
  width: 150px;

  height: 45px;
  color: black;
  margin: 2px 5px;
  font-family: "simpsons";
  font-size: 110%;
  background-color: #f8d62d;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
  transition: all 0.1s ease-in-out;
}
.productButton:hover {
  transform: scale(1.1);
}
.productsList {
  display: flex;
  flex-wrap: nowrap;
  border-radius: 10px;
  flex-grow: 1;
  max-width: 350px;
  min-width: 290px;
  border: 2px solid black;
  background-color: #fffefe;
  margin: 0 20px 0 20px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.productsList::-webkit-scrollbar {
  width: 6px;
}

.productsList::-webkit-scrollbar-track {
  background-color: transparent;
}

.productsList::-webkit-scrollbar-thumb {
  background-color: transparent;
}

#nameContainer {
  flex-grow: 1;
  margin: 5px 0 20px 8px;
  border-radius: 10px;
  height: 100%;
}
#quantityContainer {
  min-width: 50px;
  margin: 20px 20px 20px 10px;
  background-color: white;
  border-radius: 10px;
}
#shoppingListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  max-width: 750px;
  margin: 0 5px 0 0;
}
#nameContainer2,
#nameContainer3,
#nameContainer4,
#nameContainer5,
#nameContainer6,
#nameContainer7 {
  width: 16.6%;
  padding: 0 10px 20px 10px;
  margin: 20px 0 20px 0;
  background-color: white;
  border-right: 1px solid lightgray;
}

.shopName {
  font-size: 14px;
  font-family: "simpsons";
  border-bottom: 1px solid lightgray;
  padding-bottom: 10px;
  text-align: center;
}
.shoppingList {
  display: flex;
  flex-grow: 1;
  flex-wrap: nowrap;
  min-width: 750px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
}
#price_container {
  display: flex;
  width: 100%;
  height: 40px;
  border: 2px solid black;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
  padding: 5px;
  justify-content: space-around;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
}
.price_paragraph {
  display: inline-block;
  margin: 5px 0 5px 0;
  width: 32%;
  text-align: center;
}
#btnssummary {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* flex-direction: row-reverse; */
  height: 50px;
}
.newListButtons {
  flex-grow: 1;
  min-width: 90px;
  max-width: 100px;
  min-height: 40px;
  max-height: 48px;
  margin: 0 5px 0 5px;
  font-family: "simpsons";
  font-size: 80%;
  background-color: #f8d62d;
  border-radius: 10px;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.716);
  transition: all 0.1s ease-in-out;
}
.newListButtons:hover {
  transform: scale(1.1);
}

#summaryContainer {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
}
#btnssummaryMobile {
  display: none;
}
#summaryContainer {
  width: 900px;
}

@media (max-width: 415px) {
  body {
    background-image: none;
    background-color: #fad103;
    touch-action: none;
    width: 100vw;
  }
  #mainContainer {
    /*  */
    position: absolute;
    top: 0;
    /*  */
    justify-content: space-between;
    max-height: 88vh;
    margin: 10px 0 0 0;
    padding-bottom: 5px;
    /* flex-wrap: wrap; */
    width: 100%;
  }
  .productsContainer {
    justify-content: space-between;
    font-size: 10px;
    max-height: 88vh;
    width: 20%;
    margin: 0 0 0 7px;
  }
  .productsList {
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.716);
    max-width: 74%;
    margin: 0 5px;
    min-width: 200px;
    max-height: 88vh;
    margin: 0 5px;
  }

  button {
    border: solid black 1px;
    height: 42px;
    /* font-size: 50%; */
    box-shadow: -0.2px 0.2px 0.2px 0.2px rgba(0, 0, 0, 0.716);
  }
  .productButton {
    margin: 0 auto;
    width: 100%;
    height: 42px;
    font-size: 95%;
    border: solid black 1.5px;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.716);
  }
  #shoppingListContainer,
  #btnssummary,
  .newListButtons,
  #price_container {
    display: none;
  }
  #shoppingListContainer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    min-height: 90%;
  }
  .shoppingList {
    min-width: 90%;
    flex-wrap: wrap;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.716);
  }

  #btnssummaryMobile {
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 100%;
    height: 7%;
  }
  #btnssummaryMobile button {
    width: 25%;
    margin: auto 7px;
    font-family: "simpsons";
    font-size: 70%;
    background-color: #f8d62d;
    color: black;
    border: solid black 1.5px;
    border-radius: 10px;
    box-shadow: -2px 2px 2px 0px rgba(0, 0, 0, 0.716);
  }
  .shopName {
    font-size: 12px;
  }
  #nameContainer2,
  #nameContainer3,
  #nameContainer4,
  #nameContainer5,
  #nameContainer6,
  #nameContainer7 {
    margin: 12px 0;
    min-height: 200px;
  }
  .newListButtonsMobile {
    color: black;
  }
}
